button {
	width: 100%;
}

.reflex {
	display: grid;
	grid-template-areas:
		"site-header"
		"main";
	grid-template-columns: 1fr;
	overflow: hidden;
}
#resizable-divs {
	height: 800px;
}

.DASHBOARD {
	display: flex;
	flex-direction: column;
	margin: auto;
	background-color: #c51a4a;
}

#dashboardNav {
	display: flex;
	flex-direction: row;
}

body {
	height: 100%;
	overflow: hidden;
}
