@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
.ide {
	margin: auto;
}

button {
	background-color: black;
	color: white;
	border: none;
	height: 2em;
	width: 100%;
}
button:hover {
	background: #c51a4a;
}

.reflex {
	display: grid;
	grid-template-areas:
		"site-header"
		"main";
	grid-template-columns: 1fr;
	background: #c51a4a;
}
#wrap {
	height: 700px;
}

.DASHBOARD {
	display: flex;
	flex-direction: column;
	background-color: black;
}

#dashboardNav {
	display: flex;
	flex-direction: row;
	align-content: stretch;
	background: #c51a4a;
}
